<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="BookManagement">

	<resultMap id="bookInfo" type="com.formalworks.library.model.BookInfo">
		<id property="bookID" column="book_id" />
		<result property="callNo" column="call_no"/>
		<result property="regNo" column="reg_no"/>
		<result property="bookTitle" column="book_title" />
		<result property="publisher" column="publisher" />
		<result property="description" column="description" />
		<result property="imagePath" column="image_path" />
		<result property="originLocation" column="origin_location" />
		<result property="currentLocation" column="current_location" />
		<result property="isbn" column="isbn" />
	</resultMap>

	<!-- 책 정보를 모두 가져온다. -->

	<select id="selectBooks" resultMap="bookInfo">
		select * from book_info;
	</select>


	<!-- DB에서 특정 책을 제거한다. -->

	<delete id="deleteBook" parameterType="string">
		delete
		from
		book_info
		where
		book_id = #{bookID};
	</delete>

	<!-- 책을 등록한다. -->

	<insert id="insertBook" parameterType="map">
		insert
		into
		book_info
		(
		call_no,
		reg_no,
		book_title,
		author,
		publisher,
		description,
		image_path,
		origin_location,
		current_location,
		isbn
		)
		values
		(
		#{callNo},
		#{regNo},
		#{bookTitle},
		#{author},
		#{publisher},
		#{description},
		#{imagePath},
		#{originLocation},
		#{currentLocation},
		#{isbn}
		);
	</insert>

	<update id="updateBook" parameterType="map">
		update
		book_info
		SET
		call_no=#{callNo},
		reg_no=#{regNo},
		book_title=#{bookTitle},
		author=#{author},
		publisher=#{publisher},
		description=#{description},
		image_path=#{imagePath},
		origin_location=#{originLocation},
		current_location=#{currentLocation},
		isbn=#{isbn}
		where
		book_id=#{bookID};

	</update>

</mapper>